* {
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: sans-serif;

  a {
    text-decoration: none;
    color:auto;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

img {
  height: 200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.cart-img {
  height:42px;
  width:42px;
}

.all-products {
  display: flex;
  justify-content: space-between;
}

.home-img {
  height: auto;
  width: 50%;
}

.main-container{
  display: flex;
  flex-direction: row;
  align-content: flex-start;
}

.sidebar-container{
  padding: 50px;
  background-color: lightgrey;
  color:white;
}

.children-container{
  padding:50px;
}
