body {
  font-family: sans-serif;

  a {
    text-decoration: none;
  }

  label {
    display: block;
  }

  nav a {
    display: inline-block;
    margin: 1em;
  }

  form div {
    margin: 1em;
    display: inline-block;
  }
}

img {
  height: 200px;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.cart-img {
  height:42px;
  width:42px;
}

.all-products {
  display: flex;
  justify-content: space-between;
}

.home-img {
  height: auto;
  width: 90%;
}
